@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  color: #00001a;
  font-size: larger;
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 1px 0 #00001a8f;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  width: 100%;
  text-align: left;
}

.app {
  background-color: lavender;
  padding: 2rem;
  margin-top: 4rem;
  width: 95vw;
  max-width: 30rem;
  text-align: center;
}

.question {
  margin: 2rem 0;
  font-weight: bold;
}

.options {
  display: grid;
  gap: 1rem;
}

button.correct{
  background-color: green;
  color: #f5f5f5;
}
button.incorrect{
  background-color: rgba(177, 0, 0, 0.712);
  color: #f5f5f5;
}